
Assignments/Assignment 1/Demand and Response/.Rproj.user/7DDB3DFE/sources/s-563B16C8/lock_file
Assignments/Assignment 1/Demand and Response/.Rproj.user/shared/notebooks/patch-chunk-names
Assignments/Assignment 1/Demand and Response/.Rproj.user/7DDB3DFE/sources/s-5B1ED69C/lock_file
Assignments/Assignment 1/Demand and Response/.Rproj.user/7DDB3DFE/sources/s-67AAE98C/lock_file
